<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="https://assets-global.website-files.com/6246e239c0cb131560ef79d5/6246e76bba42b4569999b33a_Bitprop-logo.svg" alt="">
          </a>


          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Rent</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Buy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Dvelopments</a>
              </li>
              
              
              
            </ul>
           
          </div>
          <div class="LogInSection">
            
              <a class="nav-link" href="/LogIn">Log In</a>
            
          </div>
        </div>
      </nav>
      <main>
  
      <h1 class="titleH">Check the avaible properties via bitprop</h1>
        <div class="mainpanel">
          <% for(i=0;i<10;i++) {%>
            <% let list =  (rows[i].Features).split(",") %>
            <% let Bedrooms = list[0].substring(list[0].length-3);%>
            <%let Shower = list[1].substring(list[1].length-3);%>
            <%let ParkingLot = list[2].substring(list[2].length-3);%>
    
            <div  onclick="location.href='/propertyDetails/<%=rows[i].Number%>';" class="card" style="width: 48rem;">
                <div class="propertyPhoto">
                    <img class="prop_Photo" src="/photos/Properties/<%=rows[i].Photos%>" alt="">
                    <div class="propertyDetails">
                        <span class="prop_price" ><%=rows[i].Price  %></span>
                        <br>
                        <span><%=Bedrooms.substring(1,Bedrooms.length-1) %> Bedrooms</span>
                        <br>
                        <span><%=rows[i].Address %></span>
                        <br>
                        <span>Property Type: Bitprop flats</span>
                        <br>
                        <br>
                        <span class="propertyIcons">
                            <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_bed_new.svg?z=0bd7e1e97b09e85351e8" alt="">
                              <%= Bedrooms.substring(1,Bedrooms.length-1) %>
                            </span>
                            <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_bath_new.svg?z=be0fb4c6f398267b865a" alt="">
                                <%= Shower.substring(1,Shower.length-1) %>
                            </span>
                            <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_parking.svg?z=c9a3223daa656b51b425" alt="">
                                <%= ParkingLot.substring(1,ParkingLot.length-1) %>
                            </span> 
                        </span>
                    </div>
                </div>
                
            </div>
          <% } %>
        </div>
       

      </main>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>