<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PropertyDetails</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {display:none;}
    </style>
   
</head>
<body>
      <main>
        
        <div class="mainPage" >
            <h1>Tenant's Interested</h1>
            <input class="btn btn-primary btn-lg " type="button" value="Go back!" onclick="history.back()">
            <div class="photoGrid">
                <div class="photoGridAndAgent2">
                    <div class="card" style="width: 48rem;">
                        
                            <img class="mySlides" id="fullprop_Photo" src="/photos/Properties/<%=rows[0].Photos%>" alt="">
                            <img class="mySlides"  id="fullprop_Photo" src="/photos/Properties/P<%=rows[0].Number%>_image1.JPG" alt="">
                            <img class="mySlides"  id="fullprop_Photo" src="/photos/Properties/P<%=rows[0].Number%>_image2.JPG" alt="">
                            <img class="mySlides"  id="fullprop_Photo" src="/photos/Properties/P<%=rows[0].Number%>_image3.JPG" alt="">
                        
                    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
                    </div>
                </div>
                
                <!-- <div>
                    hell
                </div> -->
            </div>
            
            <div class="fullpropertyDetails">
                <div class="contentPanel" >
                    <% let list =  (rows[0].Features).split(",") %>
                    <% let Bedrooms = list[0].substring(list[0].length-3);%>
                    <%let Shower = list[1].substring(list[1].length-3);%>
                    <%let ParkingLot = list[2].substring(list[2].length-3);%>
                    <%let landArea = list[3].substring(list[3].length-3);%>
                    <%let Unfurnished = list[4].substring(list[2].length-3);%>
                    <%let Pool = list[5].substring(list[2].length-3);%>
                    <%let Pets = list[6].substring(list[2].length-3);%>
                    
                    
                    
                    <div class="card" style="width: 48rem;">
                        <div class="propertyDetails">
                            <span class="prop_price" ><%=rows[0].Price%></span>
                            <br>
                            <span>Property Type: Bitprop flats</span>
                            <br>
                            <span><%=Bedrooms.substring(1,Bedrooms.length-1)%> Bedrooms</span>
                            <br>
                            <span>Address: <%=rows[0].Address  %> </span>
                            <br>
                            <br>
                            <span class="propertyIcons">
                                <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_bed_new.svg?z=0bd7e1e97b09e85351e8" alt="">
                                    <%=Bedrooms.substring(1,Bedrooms.length-1)%> Bedrooms
                                </span>
                                <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_bath_new.svg?z=be0fb4c6f398267b865a" alt="">
                                    <%= Shower.substring(1,Shower.length-1)  %> Bathroom
                                </span>
                                <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_parking.svg?z=c9a3223daa656b51b425" alt="">
                                    <%= ParkingLot.substring(1,ParkingLot.length-1) %>Parking Lot
                                </span>
                                <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_floor_new.svg?z=6469c3498bc6c7f3625f" alt="">
                                    <%= landArea %> Land Area
                                </span>
                                
                                
                            </span>
                        </div>
                       
                      
                    </div>

                    <div class="descriptionDetails" >
                        <div class="card" style="width: 48rem;">
                            <span class="description">
                                <%=rows[0].Description%>
                            </span>
                            
                        </div>
                    </div>
                    <div class="descriptionDetails" >
                        <div class="card" style="width: 48rem;">
                            <span class="Icons">

                                <div class="IconPart1">
                                    <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_bed_new.svg?z=0bd7e1e97b09e85351e8" alt="">
                                    <%=Bedrooms.substring(1,Bedrooms.length-1)%> Bedrooms
                                    </span>
                                    <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_bath_new.svg?z=be0fb4c6f398267b865a" alt="">
                                        <%= Shower.substring(1,Shower.length-1) %> Bathroom
                                    </span>
                                    <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_secure_parking_blue.svg?z=0ba2cb82627bd58e0f99" alt="">
                                        <%= ParkingLot.substring(1,ParkingLot.length-1) %> Parking Lot
                                    </span>
                                </div>
                                <div class="IconPart2">
                                    <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_pet_blue.svg?z=17b437c75ac713df28cb" alt="">
                                        Pets Allowed 
                                    </span>
                                    <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_unfurnished_blue.svg?z=1743f61133f8c9488290" alt="">
                                        Unfurnished
                                    </span>
                                    <span><img src="https://www.property24.com/Content/images/Optimized/Icons/icon_pool_blue.svg?z=f0bfbb4cdaa6a84f9af6" alt="">
                                        Pool 
                                    </span>
                                </div>
                            </span>
                            
                        </div>
                    </div>
                </div>
                <div class="AgentProfile">
                    <div class="card" style="width: 15rem;">
                        <h5>Agent</h5>
                        <div>
                            <% if(rows[0].Number==="1" || rows[0].Number==="7" || rows[0].Number==="9" || rows[0].Number==="3" || rows[0].Number==="5") { %>
                                <img class="AgentPhoto" src="/photos/IDphoto2.jpg" alt="">
                            <% }else {%>
                                <img class="AgentPhoto" src="/photos/IDphoto.jpg" alt="">
                               <% } %>
                        </div>
                        <% if(rows[0].Number==="2" || rows[0].Number==="4" || rows[0].Number==="6" || rows[0].Number==="8" || rows[0].Number==="10") {%>
                            <div>Keith Samuel</div>
                            <br>
                            <span>Contact: 0609445512</span>
                        <% }else {%>
                            <div>Fenzile Daidoo</div>
                            <br>
                            <span>Contact: 0701233456</span>
                            <% } %>
                    </div>
                </div>
               
               

            </div>
        </div>

      </main>
      <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }
    </script>
</body>
</html>